* {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 0;
}

#sidebar {
  background-color: #004366;
}

#main {
  height: 100vh;
  color: white
}

#main a {
  color: white
}

#main a:hover {
  color: #EA9426
}

#sidebar button {
  text-align: left;
  color: white
}
#sidebar button:hover {
  color: #EA9426;
  text-decoration: none;
}

#roi-logo {
  margin: 5vh auto 10vh;
  height: 11vh;
  width: 11h;
  cursor: pointer;
}

#dash {
  background: radial-gradient(at bottom left,#007BBE,#A6D8F1);
}

.welcome-card {
  margin-bottom: 5vh;
  padding: 0 10vh
}

#dash-header h1 {
  height: calc(26vh + 8px);
  padding: 0 10vh 5vh 10vh;
  display: flex;
  align-items: end;
  color: #004366;
}

#dash-header h1 {
  font-weight: bold;
  margin: 0
}

.roi-orange {
  color: #EA9426;
}

.roi-green {
  color: #088b80;
}

.roi-blue {
  color: #004366;
}

.roi-grey {
  color: #6F6F6F
}

.parent-link {
  font-size: 1.25rem;
}

.child-link {
  margin-left: 15px
}

.holo-card {
  background-color: rgba(0, 66, 102, 0.203);
  padding: 10px;

}

.full-card {
  height: 60vh;
  align-items: center;
}

.half-card {
  height: 28vh;
  margin-bottom: 4vh
}

.three-quarter-card {
  height: 38vh;
  margin-bottom: 4vh;
}

.quarter-card {
  height: 18vh;
  margin-bottom: 4vh;
}

.form-floating {
  width: 100%;
}

#floatingTextarea2 {
  margin: auto;
  color: white;
}

#floatingTextarea2::placeholder, #floatingTextarea3::placeholder {
  color: rgba(255, 255, 255, 0.521);
}

#floatingTextarea3, #floatingTextarea4 {
  color: white;
  margin-top: 50px;
}

#floatingTextarea2:focus {
  /* outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #719ECE; */
}

#chat-response {
  font-size: 1rem;
  text-align: center;
  overflow-y: auto;
}

#ask-button {
  width: 40%;
  background-color: #EA9426;
}

#response-type-form{
  margin-top: 20px;
}

input.radio {
  cursor: pointer;
}

#source-area {
  overflow-y: auto;
}