* {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 0;
}

#sidebar {
  background-color: #004366;
}

#main {
  height: 100vh;
  color: white
}

#main a {
  color: white
}

#main a:hover {
  color: #EA9426
}

#sidebar button {
  text-align: left;
  color: white
}
#sidebar button:hover {
  color: #EA9426;
  text-decoration: none;
}

#roi-logo {
  margin: 5vh auto 10vh;
  height: 11vh;
  width: 11h;
}

#dash {
  background: radial-gradient(at bottom left,#007BBE,#A6D8F1);
}

.welcome-card {
  margin-bottom: 5vh;
  padding: 0 10vh
}

#dash-header h1 {
  height: calc(26vh + 8px);
  padding: 0 10vh 5vh 10vh;
  display: flex;
  align-items: end;
  color: #004366;
}

#dash-header h1 {
  font-weight: bold;
  margin: 0
}

.roi-orange {
  color: #EA9426;
}
.roi-green {
  color: #088b80;
}
.roi-blue {
  color: #004366;
}
.roi-grey {
  color: #6F6F6F
}
